/* BALISES GÉNÉRALES */
body{
    font-family: roboto, sans-serif;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 36px;
}

h3{
    background-color: white;
    font-size: 24px;
    padding: 15px;
}

h4{
    font-size: 18px;
}

ul {
    font-size:18px;
    font-weight: 600;
    list-style: none;
    padding: 2px 0 0 15px;
  }

p{
    font-size: 12px;
}


/* ID GÉNÉRAUX */
#main-header{
    height: 185px;
    background-color: #B1C2ED;
}

#main-header > div > h1{
    color: white;
    padding:40px 0 15px 0;
}

#main-header > div > h2{
    color: #2C4196;
}

#main-nav{
    background-color: #9C6B6B
}

#main-nav > ul{
    padding: 15px;
}

#main-nav > ul > li > a,
#main-nav > ul > li > a:hover
#main-nav > ul > li > a:focus{
    font-size: 25px;
    color:white;
    text-decoration: none;
    padding: 0px 10px 0 0;
}

#main-nav > ul > li > a:hover{
    color: #410101;
    text-decoration-line: underline;
}

#main-footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #898989;
    }

    
#main-footer > h4{
    margin: 50px;
    vertical-align: middle;
}


/* PAGE D'ACCUEIL SEULEMENT */
#panneauaccueil{
    width: 68%;
    height: 480px;
}

#panneauaccueil > p > a{
    color: black;
    font-weight: 700;
}

#asidecategories{
    background-color: #B96767;
    width: 27%;
    height: 520px;
}

#panneauxmeilleurs{
    float:left;
    width: 41%;
    height: 160px;
}

.panneauxdouble{
    width: 25%;
    height: 225px;
}

.tolkien{
    font-size: 14px;
    font-style: italic;
}


/* PAGE NOS POKEMONS SEULEMENT */
.pikachu{
    float: left;
    margin: 25px 0 -15px 0;
    height: 280px;
}

.pika-stats{
    width: 68%;
    height: 225px;
    padding: 25px 40px;
}

.element{
    display: inline;
}


/* UTILS */
.wrapper{
    width: 1024px;
    margin: 0 auto;
}

.nomargin{
    margin: 0;
}

.margintop{
    margin-top: 25px;
}

.marginbottom{
    margin-bottom: 25px;
}

.marginbottomextra{
    margin-bottom: 200px;
}

.marginleft{
    margin-left: 2%;
}

.marginminusleft{
    margin-left: -15px;
}

.textalignright{
    text-align: right;
}

.textaligncenter{
text-align: center;
}

.floatleft{
    float:left;
}

.floatright{
    float: right;
}

.gris{
    background-color: #C4C4C4;
}

.blanc{
    color:white;
}
.padding{
    padding: 20px;
}